<!DOCTYPE html>
{% extends 'bootstrap/base.html' %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <h1>Business Facilities Editor</h1>
  <!-- Mapbox -->
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
  {% block body %}
    <h2>Welcome in Business Facilities Editor</h2>
  {% endblock %}
</body>
</html>